{% extends 'base.html.twig' %}


{% block body %}

    <h1>Afficher une sortie</h1>
    <p>Nom de la sortie: {{ sortie.nom }}</p>
    <p>Date et heure de la sortie: {{ sortie.dateHeureDebut|date('Y-m-d H:i') }}</p>
    <p>Date et heure de la sortie: {{ sortie.dateLimiteInscription|date('Y-m-d') }}</p>
    <p>Nombre de place: {{ sortie.nbInscriptionsMax }}</p>
    <p>Durée: {{ sortie.duree }}</p>
    <p>Description et infos: {{ sortie.infosSortie }}</p>
    <p>Campus: {{ sortie.campus.nom }}</p>
    <p>Lieu: {{ sortie.lieu.nom }}</p>

{% endblock %}

{% block title %} {{ parent() }} | Home {% endblock %}